#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-diaper {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-quantity {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-diaper_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-quantity_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-counter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #585858;
  -ms-transform: rotate(270.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #585858;
  -ms-transform: rotate(270.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #585858;
  -ms-transform: rotate(90.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #585858;
  -ms-transform: rotate(90.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-radio-button-off-dark {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-radio-button-off-dark_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-radio-button-off-dark_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-radio-button-off-dark_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-checkbox-on-light_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1f3410d9-f2dc-40b0-a5a2-841cc7733b4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}