#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Offers {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-counter {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-diaperSize {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}