#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Line_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Line_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Line_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Line_8 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Offers {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-counter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 #s-diaperSize {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2528b274-9b61-4b84-b8ab-37919ed1f172 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}