#s-3f7dd1a2-3d47-4424-97dd-e9d1713fd4b7 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7dd1a2-3d47-4424-97dd-e9d1713fd4b7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7dd1a2-3d47-4424-97dd-e9d1713fd4b7 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3f7dd1a2-3d47-4424-97dd-e9d1713fd4b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}