#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Footer {
  position: absolute;
  top: 548px;
  left: 30px;
  width: 302px;
  height: 84px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 112px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 223px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Image_10 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_6 {
  position: absolute;
  top: 70px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto Light,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_10 {
  position: absolute;
  top: 70px;
  left: 105px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_12 {
  position: absolute;
  top: 70px;
  left: 220px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 75px;
  left: 11px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Panel_1 {
  width: 338px;
  height: 466px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_2 {
  position: absolute;
  top: 24px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_2 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_29 {
  position: absolute;
  top: 23px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_29 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Group_2 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 171px;
  height: 437px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Diapers {
  position: absolute;
  top: 0px;
  left: 25px;
  width: 65px;
  height: 48px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_30 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_3 {
  position: absolute;
  top: 1px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_3 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_31 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_31 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_4 {
  position: absolute;
  top: 18px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_4 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_32 {
  position: absolute;
  top: 32px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_32 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_5 {
  position: absolute;
  top: 33px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_5 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_9 {
  position: absolute;
  top: 55px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_9 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_11 {
  position: absolute;
  top: 210px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_11 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_13 {
  position: absolute;
  top: 393px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_13 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_14 {
  position: absolute;
  top: 419px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_14 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Diapers_1 {
  position: absolute;
  top: 81px;
  left: 27px;
  width: 144px;
  height: 117px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_35 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_16 {
  position: absolute;
  top: 1px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto Light,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_16 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_16 span#rtr-s-Text_16_1 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_36 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_36 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_17 {
  position: absolute;
  top: 18px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_17 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_37 {
  position: absolute;
  top: 34px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_37 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_18 {
  position: absolute;
  top: 35px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_18 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_38 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_38 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_19 {
  position: absolute;
  top: 50px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_19 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_39 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_39 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_20 {
  position: absolute;
  top: 67px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_20 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_40 {
  position: absolute;
  top: 83px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_40 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_21 {
  position: absolute;
  top: 84px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_21 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_41 {
  position: absolute;
  top: 101px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_41 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_41 span#rtr-s-Label_41_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_24 {
  position: absolute;
  top: 102px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_24 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Diapers_2 {
  position: absolute;
  top: 236px;
  left: 26px;
  width: 132px;
  height: 153px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_42 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_42 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_42 span#rtr-s-Label_42_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_25 {
  position: absolute;
  top: 1px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_25 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_43 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_43 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_43 span#rtr-s-Label_43_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_26 {
  position: absolute;
  top: 18px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_26 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_44 {
  position: absolute;
  top: 34px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_44 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_44 span#rtr-s-Label_44_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_27 {
  position: absolute;
  top: 35px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_27 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_45 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_45 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_45 span#rtr-s-Label_45_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_28 {
  position: absolute;
  top: 50px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_28 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_46 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_46 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_46 span#rtr-s-Label_46_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_29 {
  position: absolute;
  top: 67px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_29 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_47 {
  position: absolute;
  top: 83px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_47 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_47 span#rtr-s-Label_47_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_30 {
  position: absolute;
  top: 84px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_30 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_48 {
  position: absolute;
  top: 101px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_48 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_48 span#rtr-s-Label_48_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_31 {
  position: absolute;
  top: 102px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_31 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_49 {
  position: absolute;
  top: 119px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_49 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_49 span#rtr-s-Label_49_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_32 {
  position: absolute;
  top: 120px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_32 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_50 {
  position: absolute;
  top: 137px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_50 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Label_50 span#rtr-s-Label_50_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_33 {
  position: absolute;
  top: 138px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_33 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_15 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Group_1 {
  position: absolute;
  top: 42px;
  left: 58px;
  width: 44px;
  height: 35px;
  display: none;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_23 {
  position: absolute;
  top: 20px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_23 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto Light,Arial;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_22 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4f7d773d-6d8f-49f8-94ae-194e4109eff5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}