#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5a1cea91-5f6e-4c36-afbf-a8ef83bc5ec8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}