#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-counter {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Line_15 {
  rotation: 89.0;
  margin-left: 15px;
  margin-top: -17px;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6b0b5086-02f4-4399-b7ac-f70f436e52df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}