#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 394px;
  left: 157px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Panel_1 {
  width: 36px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 37px;
  position: absolute;
  overflow: hidden;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_1 .content {
  width: 36px;
  height: 37px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 37px;
  background-color: #EF6C00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_3 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-input {
  position: absolute;
  top: 313px;
  left: 58px;
  width: 233px;
  height: 32px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 228px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_2 input {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 233px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 233px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Line_4 {
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-input_1 {
  position: absolute;
  top: 353px;
  left: 58px;
  width: 233px;
  height: 32px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 228px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_3 input {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 233px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 233px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EF6C00;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Line_6 {
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_1 {
  position: absolute;
  top: 468px;
  left: 147px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_1 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_2 {
  position: absolute;
  top: 443px;
  left: 118px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_2 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-thirdParty {
  position: absolute;
  top: 160px;
  left: 77px;
  width: 193px;
  height: 107px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Image_1 {
  position: absolute;
  top: 61px;
  left: 0px;
  width: 191px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 191px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_10 {
  position: absolute;
  top: 56px;
  left: 80px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Arial Rounded MT Bold,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_10 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial Rounded MT Bold,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial Rounded MT Bold,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-SignUpForm {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #434343;
  background-image: none;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Sign_up_1 {
  position: absolute;
  top: 451px;
  left: 29px;
  width: 139px;
  height: 55px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 135px;
  height: 51px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_9 {
  position: absolute;
  top: 15px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_9 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 37px;
  position: absolute;
  overflow: hidden;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_3 .content {
  width: 36px;
  height: 37px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_3 {
  position: absolute;
  top: 9px;
  left: 11px;
  width: 36px;
  height: 37px;
  background-color: #EF6C00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_6 {
  position: absolute;
  top: 14px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_5 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 137px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Sign_up {
  position: absolute;
  top: 451px;
  left: 192px;
  width: 139px;
  height: 55px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 135px;
  height: 51px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_8 {
  position: absolute;
  top: 15px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto Light,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_8 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Login_button_1 {
  position: absolute;
  top: 9px;
  left: 94px;
  width: 36px;
  height: 37px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 37px;
  position: absolute;
  overflow: hidden;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_2 .content {
  width: 36px;
  height: 37px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 37px;
  background-color: #EF6C00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_4 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_4 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 137px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-input_2 {
  position: absolute;
  top: 78px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_4 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_7 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_8 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0DADFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Line_8 {
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-input_3 {
  position: absolute;
  top: 142px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_5 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0DADFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Line_10 {
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-input_4 {
  position: absolute;
  top: 203px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_6 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_12 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0DADFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Line_12 {
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_3 {
  position: absolute;
  top: 59px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_4 {
  position: absolute;
  top: 123px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_5 {
  position: absolute;
  top: 183px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_6 {
  position: absolute;
  top: 326px;
  left: 10px;
  width: 278px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-input_5 {
  position: absolute;
  top: 269px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Input_7 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_13 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Line_14 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0DADFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #shapewrapper-s-Line_14 {
  display: none;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_7 {
  position: absolute;
  top: 250px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4ff3fd0-d45d-401e-b42d-d54af49ea3f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}