#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-counter {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Line_18 {
  rotation: 89.0;
  margin-left: 15px;
  margin-top: -17px;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}