#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-counter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(89.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(89.0deg);
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ba01d6b6-0023-4070-a211-c77ea4fb40a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}