#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d990be30-4d59-4d16-a7c2-c9d11fbc343b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}