#t-0aa1474c-a78e-4962-8a93-4d383573b124 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Panel_1 {
  width: 360px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Panel_1 .verticalalign {
  vertical-align: top;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-topBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 59px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Rectangle_6 span#rtr-t-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-menu {
  position: absolute;
  top: 16px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-menu .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-menu span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-menu span#rtr-t-menu_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-search {
  position: absolute;
  top: 17px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-search .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-search span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-search span#rtr-t-search_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-titleBar {
  position: absolute;
  top: 19px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto Light,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-titleBar .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-titleBar span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-titleBar span#rtr-t-titleBar_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-gotToCart {
  position: absolute;
  top: 16px;
  left: 288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-gotToCart .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-gotToCart span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-gotToCart span#rtr-t-gotToCart_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_3 {
  position: absolute;
  top: 16px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_3 span {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_3 span#rtr-t-Label_3_0 {
  color: #EF6C00;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Menu {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 100;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Panel_2 {
  width: 262px;
  height: 640px;
  background-color: #EF6C00;
  background-image: none;
  box-shadow: 4px 0px 0px 0px #434343;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Panel_2 .verticalalign {
  vertical-align: top;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 261px;
  height: 133px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_8 {
  position: absolute;
  top: 12px;
  left: 225px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Label_8 span#rtr-t-Label_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_4 {
  position: absolute;
  top: 83px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: Roboto Light,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_4 span#rtr-t-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_3 {
  position: absolute;
  top: 10px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_3 span#rtr-t-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Image_7 {
  position: absolute;
  top: 34px;
  left: 100px;
  width: 55px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_21 {
  position: absolute;
  top: 494px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_21 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_21 span#rtr-t-Text_21_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_20 {
  position: absolute;
  top: 462px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_20 span#rtr-t-Text_20_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_20 span#rtr-t-Text_20_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_17 {
  position: absolute;
  top: 342px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_17 span#rtr-t-Text_17_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_16 {
  position: absolute;
  top: 266px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_16 span#rtr-t-Text_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_16 span#rtr-t-Text_16_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_5 {
  position: absolute;
  top: 156px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto Light,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_5 span#rtr-t-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_1 {
  position: absolute;
  top: 183px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_1 span#rtr-t-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_2 {
  position: absolute;
  top: 202px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_2 span#rtr-t-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_6 {
  position: absolute;
  top: 221px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_6 span#rtr-t-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_7 {
  position: absolute;
  top: 241px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_7 span#rtr-t-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_9 {
  position: absolute;
  top: 295px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_9 span#rtr-t-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_10 {
  position: absolute;
  top: 314px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_10 span#rtr-t-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_11 {
  position: absolute;
  top: 370px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_11 span#rtr-t-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_12 {
  position: absolute;
  top: 389px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_12 span#rtr-t-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_12 span#rtr-t-Text_12_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_13 {
  position: absolute;
  top: 408px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_13 span#rtr-t-Text_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_14 {
  position: absolute;
  top: 428px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_14 span#rtr-t-Text_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 #t-Text_14 span#rtr-t-Text_14_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-0aa1474c-a78e-4962-8a93-4d383573b124 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}