<html>
  <body>
    <div class="ui-page">
         <div id="t-298db5c9-fb64-4f45-9603-1e95519c98ae" class="template growth-both firer commentable" name="Guest">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="center">
           <link type="text/css" rel="stylesheet" href="./resources/templates/298db5c9-fb64-4f45-9603-1e95519c98ae-1456377198593.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/298db5c9-fb64-4f45-9603-1e95519c98ae-1456377198593-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/298db5c9-fb64-4f45-9603-1e95519c98ae-1456377198593-ie8.css" /><![endif]-->
           <div id="t-topBar" class="group firer ie-background commentable">
             <div id="t-Rectangle_6" class="rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_6_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-menu" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-menu_0"></span></div></div></div>
             <div id="t-search" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-search_0"></span></div></div></div>
             <div id="t-Text_22" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_22_0">ProjectAlpha.com</span></div></div></div>
             <div id="t-gotToCart" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-gotToCart_0"></span></div></div></div>
           </div>
           <div id="t-Menu" class="group firer ie-background commentable">
             <div id="t-Rectangle_1" class="pie rectangle firer swipeleft commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_1_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">Wecome,</span></div></div></div>
             <div id="t-Text_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">Guest</span></div></div></div>
             <div id="t-Text_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_17_0">Go to cart</span></div></div></div>
             <div id="t-Text_20" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_20_0">Settings</span></div></div></div>
             <div id="t-Text_21" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_21_0">Customer care</span></div></div></div>
             <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 1 L 257 1" startMarker="none" endMarker="none"  >
             </div>
             <div id="t-Label_13" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_13_0"></span></div></div></div>
             <div id="t-Label_12" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_12_0"></span></div></div></div>
             <div id="t-Label_11" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_11_0"></span></div></div></div>
             <div id="t-Label_20" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_20_0"></span></div></div></div>
             <div id="t-Label_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0"></span></div></div></div>
             <div id="t-Text_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Click to login</span></div></div></div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>