<html>
  <body>
    <div class="ui-page">
         <div id="t-50c1a37f-5caa-465f-9e61-892b37be7231" class="template growth-both firer commentable" name="Launch">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="center">
           <link type="text/css" rel="stylesheet" href="./resources/templates/50c1a37f-5caa-465f-9e61-892b37be7231-1456377198593.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/50c1a37f-5caa-465f-9e61-892b37be7231-1456377198593-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/50c1a37f-5caa-465f-9e61-892b37be7231-1456377198593-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>