<html>
  <body>
    <div class="ui-page">
         <div id="t-7b82072e-26bc-46b1-807c-0945468fe1f7" class="template growth-both firer commentable" name="Product Page">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/7b82072e-26bc-46b1-807c-0945468fe1f7-1456377198593.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/7b82072e-26bc-46b1-807c-0945468fe1f7-1456377198593-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/7b82072e-26bc-46b1-807c-0945468fe1f7-1456377198593-ie8.css" /><![endif]-->
           <div id="t-Dynamic_Panel_1" class="dynamicpanel firer ie-background commentable">
             <div id="t-Panel_1" class="panel default firer windowscroll ie-background commentable" >
                 <div id="t-topBar" class="group firer ie-background commentable">
                   <div id="t-Rectangle_6" class="rectangle firer commentable"  >
                    <div class="clipping">
                     <div class="content">
                       <div class="valign">
                         <span id="rtr-t-Rectangle_6_0"></span>
                       </div>
                     </div>
                    </div>
                   </div>
                   <div id="t-menu" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-menu_0"></span></div></div></div>
                   <div id="t-search" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-search_0"></span></div></div></div>
                   <div id="t-Text_22" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_22_0">ThePumpkin.com</span></div></div></div>
                   <div id="t-gotToCart" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-gotToCart_0"></span></div></div></div>
                   <div id="t-Label_4" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0"></span></div></div></div>
                 </div>

             </div>
           </div>
           <div id="t-Menu" class="pie dynamicpanel firer commentable">
             <div id="t-Panel_2" class="pie panel default firer swipeleft windowscroll commentable" >
                 <img id="t-Image_1" class="image firer ie-background commentable"    alt="image" src="./images/ab4b79e9-0636-47d3-9b0a-c126c77f89c2.jpg"/>
                 <div id="t-Label_8" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0"></span></div></div></div>
                 <div id="t-Text_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">John Doe</span></div></div></div>
                 <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">Wecome,</span></div></div></div>
                 <img id="t-Image_7" class="image firer ie-background commentable"    alt="image" src="./images/13ec025b-bdc0-4576-b06b-791d2efcfcea.png"/>
                 <div id="t-Text_21" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_21_0">All Products</span></div></div></div>
                 <div id="t-Text_20" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_20_0">Go To Ca</span><span id="rtr-t-Text_20_1">rt</span></div></div></div>
                 <div id="t-Text_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_17_0">Reach Us</span></div></div></div>
                 <div id="t-Text_16" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_16_0">Promotion</span><span id="rtr-t-Text_16_1">s</span></div></div></div>
                 <div id="t-Text_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">My Account</span></div></div></div>
                 <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Profile</span></div></div></div>
                 <div id="t-Text_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Orders</span></div></div></div>
                 <div id="t-Text_6" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">Wallet</span></div></div></div>
                 <div id="t-Text_7" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_7_0">Analytics</span></div></div></div>
                 <div id="t-Text_9" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_9_0">Offers</span></div></div></div>
                 <div id="t-Text_10" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_10_0">Schemes</span></div></div></div>
                 <div id="t-Text_11" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_11_0">Customer Care</span></div></div></div>
                 <div id="t-Text_12" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_12_0">Complain/Feedb</span><span id="rtr-t-Text_12_1">ack</span></div></div></div>
                 <div id="t-Text_13" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_13_0">Return/Refund</span></div></div></div>
                 <div id="t-Text_14" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_14_0">Delivery Poli</span><span id="rtr-t-Text_14_1">cies</span></div></div></div>

             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>